<div class="main-layout">
  <div class="main-layout-contents">
    <% @books.each do |book| %>
      <div class="book">
        <div class="book-image-content">
          <a href="<%= book_path book.id  %>">
          <div class="book-image-box">
            <%= image_tag "#{book.id}.jpg" ,alt: "タイトル",class: "book-image" %>
          </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="main-layout-contents">
    <% @subbooks.each do |book| %>
        <div class="book">
          <div class="book-image-content">
            <a href="<%= book_path book.id  %>">
            <div class="book-image-box">
              <%= image_tag "#{book.id}.jpg" ,alt: "タイトル",class: "book-image" %>
            </div>
            </a>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="nav-footer">
  <div class="center-footer">
    <div class="center-accessibility">
      <div class="accessibility-top">
        <%= link_to "book-listについて","#",style: "color:white;text-decoration:none;" %>
      </div>
      <div class="accessibility-box">
        <%= link_to "情報","#",style: "color:white;text-decoration:none;" %>
      </div>
      <div class="accessibility-box">book-listとは</div>
      <div class="accessibility-box">book-listの地域</div>
    </div>
    <div class="center-accessibility">
      <div class="accessibility-top">
        <%= link_to "bookとは","#",style: "color:white;text-decoration:none;" %>
      </div>
      <div class="accessibility-box">
        <%= link_to "おまけとは","#",style: "color:white;text-decoration:none;" %>
      </div>
      <div class="accessibility-box">test</div>
      <div class="accessibility-box">test</div>
    </div>
    <div class="center-accessibility">
      <div class="accessibility-top">
        <%= link_to "bookとは","#",style: "color:white;text-decoration:none;" %>
      </div>
      <div class="accessibility-box">
        <%= link_to "余白","#",style: "color:white;text-decoration:none;" %>
      </div>
      <div class="accessibility-box">コンテンツ関係</div>
      <div class="accessibility-box">ヘルプ</div>
    </div>
    <div class="center-accessibility">
      <div class="accessibility-box"></div>
      <div class="accessibility-box"></div>
      <div class="accessibility-box"></div>
    </div>
  </div>
</div>