<!DOCTYPE html>
<html>
  <head>
    <title>BookList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if user_signed_in? %>
      <a href="<%= destroy_user_session_path %>">ログアウト</a>
      <a href="<%= user_path current_user%>">MYPAGE</a>
    <% else %>
      <a href="<%= user_session_path%>">ログイン</a>
      <a href="<%= new_user_registration_path%>">新規登録</a>
    <% end %>
    <%= yield %>
  </body>
</html>
