<!DOCTYPE html>
<html>
  <head>
    <title>BookList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div id="booklist">
      <%= link_to "BookList",root_path,class: "booklist" %>
    </div>
    <div id="navbox-container">
      <%= form_with id: "navform" do |f|%>
        <div class="nav-fill">
          <%# <%= f.text_field :name %> %>
        </div>
        <div class="nav-right">
          <div class="nav-search-submit nav-sprite">
          <span id="nav-search-submit-text" class="nav-search-submit-text nav-sprite">
          </span>
            <%# <%= f.submit type: "submit",class:"nav-input" ,value:"検索" ,tabindex:"10" %> %>
          </div>
        </div>
      <% end %>
      </div>
    <div id="navbox-container">
      <%= form_with id: "navform" do |f|%>
        <div class="nav-fill">
          <%# <%= f.text_field :name %> %>
        </div>
        <div class="nav-right">
          <div class="nav-search-submit nav-sprite">
          <span id="nav-search-submit-text" class="nav-search-submit-text nav-sprite">
          </span>
          <%# <%= f.submit type: "submit",class:"nav-input" ,value:"検索" ,tabindex:"10" %> %>
          </div>
        </div>
    <% end %>
    </div>

    <%if user_signed_in? %>
    <button class="header_btn">
      <%= link_to "#{current_user.name}さんのMYPAGE", user_path(current_user),class: "btn_mypage" %>
    </button>
    <button class="header_btn">
      <%= link_to "ログアウト", destroy_user_session_path,method: :delete ,class: "btn_logout" %>
    </button>
    <% else %>
    <button class="header_btn">
      <%=  link_to "ログイン", user_session_path,class: "btn_login" %>
    </button>
    <% end %>
  </header>
    <%= yield %>

    <div class="nav-footer">
      <div class="center-footer">
        <div class="center-accessibility">
          <div class="accessibility-top">book-listについて</div>
          <div class="accessibility-box">情報</div>
          <div class="accessibility-box">book-listとは</div>
          <div class="accessibility-box">book-listの地域</div>
        </div>
        <div class="center-accessibility">
          <div class="accessibility-top">bookとは</div>
          <div class="accessibility-box">おまけとは</div>
          <div class="accessibility-box">test</div>
          <div class="accessibility-box">test</div>
        </div>
        <div class="center-accessibility">
          <div class="accessibility-top">bookとは</div>
          <div class="accessibility-box">余白</div>
          <div class="accessibility-box">コンテンツ関係</div>
          <div class="accessibility-box">ヘルプ</div>
        </div>
        <div class="center-accessibility">
          <div class="accessibility-box"></div>
          <div class="accessibility-box"></div>
          <div class="accessibility-box"></div>
        </div>
      </div>
    </div>
  </body>
</html>
